<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EpileppiAberHappy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F76FCB681E4FE83C00A014F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F76FCB7C1E4FE83C00A014F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F76FCB871E4FE83C00A014F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
